<div class="centered">
  <div class="carousel">
    <swiper #swiper [config]="config" (indexChange)="indexChange($event)">
      <div
        class="swiper-slide"
        *ngFor="let slide of productSlide; let i = index"
      >
        <mat-card class="card" *ngFor="let product of slide; let j = index">
          <div
            class="logo"
            [matBadge]="handleProductBadges(product.name)"
            matBadgeColor="warn"
            [matBadgeHidden]="handleProductBadges(product.name) == 0"
          >
            <span>
              {{ iterateString(product.name) }}
            </span>
          </div>
          <div class="description">
            <span class="header">{{ product.name }}</span>
            <span class="price">{{ product.unitPrice }} Leke</span>
          </div>
          <div class="actions">
            <button
              mat-mini-fab
              color="warn"
              (click)="removeFromCart(product.name, product)"
              class="mat-elevation-z0"
              *ngIf="handleButtonVisibility(product.name)"
            >
              <mat-icon>remove</mat-icon>
            </button>
            <button
              mat-mini-fab
              color="primary"
              (click)="addToCart(product.name, product.unitPrice)"
              class="mat-elevation-z0"
            >
              <mat-icon>add</mat-icon>
            </button>
          </div>
        </mat-card>
      </div>
    </swiper>
  </div>
</div>

<div class="bottom">
  <div *ngIf="products.length > 0" class="carousel-action">
    <button
      mat-icon-button
      (click)="slidePrev()"
      [disabled]="currentSlide == 0"
    >
      <mat-icon>arrow_back</mat-icon>
    </button>
    <div class="indicator-group">
      <span
        *ngFor="let item of productSlide; let i = index"
        [ngClass]="i == currentSlide ? 'active-indicator' : 'indicator'"
      ></span>
    </div>
    <button
      mat-icon-button
      (click)="slideNext()"
      [disabled]="currentSlide == productSlide.length - 1"
    >
      <mat-icon>arrow_forward</mat-icon>
    </button>
  </div>
  <div *ngIf="products.length > 0" class="cart-action" (click)="openDialog()">
    <button
      mat-flat-button
      color="accent"
      style="border-radius: 100px"
      [disabled]="mainService.cart.getValue().length == 0"
    >
      Shiko faturen
    </button>
  </div>
</div>
