<div class="centered">
  <div class="carousel">
    <div *ngFor="let slide of productSlide; let i = index" class="slide">
      <div
        *ngIf="i === currentSlide"
        [@carouselAnimation]="{
          value: '',
          params: { direction: this.direction === 'RL' ? '100' : '-100' }
        }"
      >
        <mat-card class="card" *ngFor="let product of slide; let j = index">
          <div class="logo" matBadgeColor="warn">
            <span>
              {{ iterateString(product.name) }}
            </span>
          </div>
          <div class="description">
            <span class="header">{{ product.name }}</span>
            <span class="price">{{ product.unitPrice }} Leke</span>
          </div>
          <div class="actions">
            <button
              mat-mini-fab
              color="warn"
              (click)="removeFromCart(product.name, product.unitPrice, j)"
            >
              <mat-icon>remove</mat-icon>
            </button>
            <button
              mat-mini-fab
              color="primary"
              (click)="addToCart(product.name, product.unitPrice)"
            >
              <mat-icon>add</mat-icon>
            </button>
          </div>
        </mat-card>
      </div>
    </div>
  </div>
  <div *ngIf="products.length > 0">
    <button mat-icon-button (click)="onPreviousClick()">
      <mat-icon>arrow_back</mat-icon>
    </button>

    <button mat-icon-button (click)="onNextClick()">
      <mat-icon>arrow_forward</mat-icon>
    </button>
  </div>
</div>
