<mat-toolbar class="navbar">
  <button mat-icon-button (click)="toggleDarkMode()" *ngIf="showDarkModeToggle">
    <mat-icon>{{ !modeToggler ? "dark_mode" : "light_mode" }}</mat-icon>
  </button>
  <button mat-icon-button (click)="navigateBack()" *ngIf="!showDarkModeToggle">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <span>{{ navbarTitle }}</span>
  <button mat-icon-button>
    <mat-icon
      [matBadge]="handleCartBadge()"
      [matBadgeHidden]="handleCartBadge() == 0"
      matBadgeColor="warn"
      >shopping_cart</mat-icon
    >
  </button>
</mat-toolbar>
