.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.title {
  width: 264px;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
}

.subtitle {
  margin-top: 1rem;
  width: 264px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}
